<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517419486566-gnf9206h6a6ruqoohscr4hci17ad7hui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517419486566-gnf9206h6a6ruqoohscr4hci17ad7hui</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517419486566-h51944u9fd13l11th25vfgkftdrqrlna.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD09jnKLgxqFaw7kIs8CdDy6pTyVP5EtY4</string>
	<key>GCM_SENDER_ID</key>
	<string>517419486566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaleo.chat.app</string>
	<key>PROJECT_ID</key>
	<string>dados-d7024</string>
	<key>STORAGE_BUCKET</key>
	<string>dados-d7024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517419486566:ios:e12be1c65db3a0a81c8ca7</string>
</dict>
</plist>